.appartaments {

    position: relative;

    &::before{
        content: "III";
        @include decoration;
        right: calc(50% + 555px);
        transform: translateX(50%);
        line-height: 1;
    }

    &__title {
        margin-bottom: 88px;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}
