.behefits {

    padding: 120px 0;

    &__row {
        display: flex;
        column-gap: 70px;
    }

    &__item {
        text-align: center;
    }

    &__item-img {
        margin-bottom: 53px;
    }

    &__item-desc {
        text-align: center;
        font-family: $font-secondary;
        font-size: 20px;
        font-weight: 300;
        line-height: 135%;
    }
}
