.behefits {
    position: relative;
    overflow: hidden;
    padding: 120px 0;

    @include media($tablet) {
        padding: 50px 0;
    }

    &::after {
        content: "II";
        position: absolute;
        opacity: 0.02;

        font-size: 400px;
        font-family: $font-accent;

        top: 0;
        left: calc(50% + 555px);
        transform: translateX(-50%);
        line-height: 1.25;

        @include media($tablet) {
            display: none;
        }
    }

    &__row {
        display: flex;
        column-gap: 70px;

        @include media($tablet){
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
            gap: 40px 30px;
        }
    }

    &__item {
        text-align: center;
    }

    &__item-img {
        margin-bottom: 53px;

        @include media($tablet) {
            width: 60px;
            height: 60px;
            margin-bottom: 20px;
        }
    }

    &__item-desc {
        text-align: center;
        font-family: $font-secondary;
        font-size: 20px;
        font-weight: 300;
        line-height: 135%;

        @include media($tablet) {
            font-size: 16px;
            line-height: 125%;
        }
    }
}
