.section-map {
    position: relative;

    &::before {
        content: "V";
        @include decoration;
        z-index: -1;
        right: calc(50% + 555px);
        transform: translateX(50%);
        line-height: 1.9;
    }

    padding: 180px 0;

    &__title {
        margin-bottom: 88px;
    }

    &__map {
        height: 358px;
        background-color: #626262;
    }
}

.map {
}
