.section-map {
    position: relative;
    padding: 180px 0;

    @include media($tablet){
        padding: 50px 0;
    }

    &::before {
        content: "V";
        @include decoration;
        z-index: -1;
        right: calc(50% + 555px);
        transform: translateX(50%);
        line-height: 1.9;
    }


    &__title {
        margin-bottom: 88px;

        @include media($tablet){
            margin-bottom: 38px;
        }
    }

    &__map {
        height: 358px;
        background-color: #626262;
    }
}

.map {
}
